/*Sección About*/

section.about{
	background: #EAF2FD;
}

.about__container {
	margin: 2rem 0;
}

.about__title {
	font-weight: 700;
	font-size: 1.90rem;
	padding-left: 1rem;
}

.about__paragraph {
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.75rem;
	text-align: justify;
	padding: 1rem 25rem 1rem 1rem;
}

.about__img--sign {
	padding-left: 1rem;
	width: 140px;
	height: 52px;
}

@media screen and (min-width: 0) { 
	section.about{
		padding: 1rem 1rem 1rem 1rem;
	}
	
	.about__title {
		padding-left: 0rem;
	}
	
	.about__paragraph {
		padding: 1rem 0 1rem 0;
	}
	
	.about__img--sign {
		padding-left: 0;
	}
	
}

@media screen and (min-width: 768px) {	
	section.about{
		padding: 1rem 2rem 1rem 2rem;
	}
}

@media screen and (min-width: 992px) {
	section.about{
		padding: 1rem 5rem 1rem 5rem;	
	}
}










