
section.formcontato {
	background: #EAF2FD;
}

.formcontato__contacto {
	display: flex;
}

.formcontato__text {
	margin: 1rem;
}

.formcontato__title {
	font-size: 2.5rem;
	padding: 1rem 0 1rem 0;
}

.formcontato__subtext {
	color: #C2C1C1;
	padding-top: 0.5rem;
}

.formcontato__form {
	display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 1rem;
	position: relative;
    border-bottom: 1px solid #ddd;
}

input{
    width: 99%;
	padding:10px 0px 0px 5px;
    margin-top: 20px;
    border: none;
    outline: none;
}

input::placeholder{
    opacity: 0;
	
}

.form__spam {
	color: #C2C1C1;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(30px);
    font-size: 0.825em;
    transition-duration: 300ms;
}

label:focus-within > span, input:not(:placeholder-shown) + span{
    color: #000000;
    transform:translateY(0px);
}

.formcontato__textarea {
	padding-left: 5px;
	border: none;
    outline: none;
}

.formcontato__btn {
    margin: 0.5rem 0;
    width: 150px;
    padding: 0.75rem;
	height: 40px;
	border: none;
	color: white;
	background-color: DodgerBlue;
}

@media screen and (min-width: 0) {
	section.formcontato {
		padding: 0px 1rem 0 1rem;
	}
	
	.formcontato--esquerda {
		display: none;
	}
}	
	
	
@media screen and (min-width: 768px) {	
	section.formcontato {
		padding: 0px 2rem 0 2rem;
	}
	
	.formcontato--esquerda {
		display: none;
	}
	
	.formcontato__title {
		font-size: 2rem;
	}
}	

@media screen and (min-width: 992px) {
	section.formcontato {
		padding: 0px 5rem 0 5rem;
	}
	
	.formcontato--esquerda {
		display: block;
		width: 40%;
		margin: 2rem;
		align-items: center;
	}
	
	.formcontato__img {
		/* width: 60%;
		transform: translate(30%, 10%); */
		width: 90%;
		height: auto;
		object-fit: cover;
	}
}




