
section.formcontato {
	background: var(--cor-de-zone);
}

.formcontato__contacto {
	display: flex;
}

.formcontato__text {
	margin: 1rem;
}

.formcontato__title {
	font-size: 2.5rem;
	padding: 1rem 0 1rem 0;
}

.formcontato__subtext {
	color: var(--cor-de-font);
	padding-bottom: 1rem;
}

.formcontato__form {
	display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 1rem;
	position: relative;
    border-bottom: 1px solid #ddd;
}

input{
    width: 99%;
	padding:10px 0px 0px 5px;
    margin-top: 20px;
    border: none;
    outline: none;
}

input::placeholder{
    opacity: 0;
	
}

.form__spam {
	color: #C2C1C1;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(30px);
    font-size: 0.825em;
    transition-duration: 300ms;
}

label:focus-within > span, input:not(:placeholder-shown) + span{
    color: #000000;
    transform:translateY(0px);
}

.formcontato__textarea {
	padding-left: 5px;
	border: none;
    outline: none;
}

.formcontato__btn {
	margin-top: 1rem;
    background: #1e1e23;
	background: linear-gradient(#1e1e23, #3584cd);
	border: 5px solid #09267e;
	border-radius: 1000px;
	box-shadow: 0 1px #444444;
	width: 160px;
	height: 50px;
	color: #ffffff;
	display: inline-block;
	text-align: center;
}

.formcontato__btn:hover {
	background-color: #003153;
	transform: scale(1.1);
}






@media screen and (min-width: 0) {
	section.formcontato {
		padding: 0px 1rem 0 1rem;
	}
	
	.formcontato--esquerda {
		display: none;
	}
}	
	
	
@media screen and (min-width: 768px) {	
	section.formcontato {
		padding: 0px 2rem 0 2rem;
	}
	
	.formcontato--esquerda {
		display: none;
	}
	
	.formcontato__title {
		font-size: 2rem;
	}
}	

@media screen and (min-width: 992px) {
	section.formcontato {
		padding: 0px 5rem 0 5rem;
	}
	
	.formcontato--esquerda {
		display: block;
		width: 40%;
		margin: 2rem;
		align-items: center;
	}
	
	.formcontato__img {
		/* width: 60%;
		transform: translate(30%, 10%); */
		width: 90%;
		height: auto;
		object-fit: cover;
	}
}


