

@media screen and (min-width: 0) {
	section.experience {
		text-align: center;
		padding: 0 1rem 1rem 1rem;
	}
	
	.experiencie__box {
		flex-direction: column;
	}
	
	.experience__info-container {
		height: 5rem;
		padding: 1rem 0 1rem 0;
	}	
}

@media screen and (min-width: 768px) {
	section.experience {
		text-align: center;
		padding: 0 2rem 2rem 2rem;
	}
	
	.experiencie__box {
		flex-direction: column;
	}
	
	.experience__info-container {
		height: 5rem;
		padding: 1rem 0 1rem 0;
	}
	
}


@media screen and (min-width: 992px) {
	section.experience {
		text-align: center;
		padding: 0 5rem 5rem 5rem;
	}
	
	.experiencie__box:nth-child(odd){
		flex-direction: row-reverse;
		justify-content: space-between;
	}

	.experiencie__box:nth-child(even){
		flex-direction: row;
		justify-content: space-between;
	}
	
	.experience__img {
		max-width: 60%;
		border-radius: 10px;
		box-shadow: 10px 10px 10px #6a5959;
	}
	
	.experience__info-container {
		width: 19rem;
		align-self: center;
	}
}


.experience__section__title {
	font-size: 2rem;
	padding: 1rem 0 1rem 0;
}

.experiencie__box {
	display: flex;
	padding: 1rem 0 1rem 0;
}

.experience__info-container {
	display: flex;
	flex-direction: column;
}

.experience__description {
	display: flex;
}

.experience__title {
	text-align: initial;
	font-size: 1.1rem;
	
}

.experience__text {
    text-align: initial;
	color: var(--cor-de-font);
	font-size: 1rem;
	padding-top: 0.5rem;
}

.experiencia__btn--repo {
	margin: 0.5rem 0.5rem 0 0;
	height: 42px;
	width: 115px;
	background: var(--cor-de-fundo);
	border-style: solid;
	border-color: #0B0B0B;
	color: #0B0B0B;
}

.experiencia__btn--repo:hover {
	position:relative;
	top:2px;
}

.experience__btn--demo {
	margin-top: 0.5rem;
	height: 42px;
	width: 115px;
	border: none;
	color: white;
	color: var(--cor-de-fundo);
	background-color: #0B0B0B;
}

.experience__btn--demo:hover {
	position:relative;
	top: 2px;
}
