

@media screen and (min-width: 0) {
	section.experience {
		padding: 0 1rem 0 1rem;
	}
	
	.experiencie__box {
		flex-direction: column;
	}
	
	.experience__info-container {
		height: 5rem;
		padding: 1rem 0 1rem 0;
	}	
}

@media screen and (min-width: 768px) {
	section.experience {
		padding: 0 2rem 0 2rem;
	}
	
	.experiencie__box {
		flex-direction: column;
	}
	
	.experience__info-container {
		height: 5rem;
		padding: 1rem 0 1rem 0;
	}
	
}


@media screen and (min-width: 992px) {
	section.experience {
		padding: 0 5rem 0 5rem;
	}
	
	.experiencie__box:nth-child(odd){
		flex-direction: row-reverse;
		justify-content: space-between;
	}

	.experiencie__box:nth-child(even){
		flex-direction: row;
		justify-content: space-between;
	}
	
	.experience__img {
		max-width: 60%;
		border-radius: 10px;
		box-shadow: 10px 10px 10px #6a5959;
	}
	
	.experience__info-container {
		width: 19rem;
		align-self: center;
	}
}

.experiencie__box {
	display: flex;
	padding: 1rem 0 1rem 0;
}

.experience__info-container {
	display: flex;
	flex-direction: column;
}

.experience__description {
	display: flex;
}




.experience__title {
	font-size: 1.1rem;
}

.experience__text {
	color: #C2C1C1;
	font-size: 1rem;
	padding-top: 0.5rem;
}

.experiencia__btn--repo {
	margin: 0.5rem 0.5rem 0 0;
	height: 40px;
	width: 115px;
	border-style: solid;
	border-color: DodgerBlue;
	color: DodgerBlue;
}

.experience__btn--demo {
	margin-top: 0.5rem;
	height: 40px;
	width: 115px;
	border: none;
	color: white;
	background-color: DodgerBlue;
}