
section.footer {
	background: var(--cor-de-footer);
	color: #FFF;
	height: 5rem;
}

.footer__rodape {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 1rem;
}


.footer__rodape p {
	color: #000;
	font-weight: 500;
}

.footer__network {
	display: contents;
	margin: 0 1rem 0 1rem;
}

@media screen and (min-width: 0) {
	section.footer {
		padding: 0 1rem 0 1rem;
	}
}	
	
	
@media screen and (min-width: 768px) {	
	section.footer {
		padding: 0 2rem 0 2rem;
	}
}	

@media screen and (min-width: 768px) {
	section.footer {
		padding: 0 5rem 0 5rem;
	}
}



