
section.hobbies {
	text-align: center;
	display: flex;
	flex-direction: column;
}

.hobbies__title {
	font-size: 2.5rem;
	padding: 1rem 0 1rem 0;	
}

.hobbies__line {
	display: flex;
	justify-content: space-evenly;
	padding: 1rem 0 1rem 0;	
}

.hobbies__box {
	background: white;
	display: flex;
	justify-content: flex-start;	
}

.hobbies__box ul {
	align-self: flex-end;
	padding-bottom: 1rem;
}


.hobbies__img {
	
} 

.hobbies__name {
	padding-top: 0.5rem;
	padding-left: 1rem;
	font-size: 1rem;	
}

@media screen and (min-width: 0) {
	section.hobbies {
		padding: 0 1rem 0 1rem;
	}

	.hobbies__line {
		row-gap: 1rem;
		flex-wrap: wrap;
		justify-content: space-evenly;
		padding: 1rem 0 1rem 0;			
	}
	
	.hobbies__box {
		width: 8rem;
		height: 8rem;	
	}
}	
	
	
@media screen and (min-width: 768px) {	
	section.hobbies {
		padding: 0 2rem 0 2rem;
	}
	
	.hobbies__box {
		height: 8rem;
		width: 14rem;
	}	
	
}	

@media screen and (min-width: 992px) {
	section.hobbies {
		padding: 0 5rem 0 5rem;
	}
	
	.hobbies__box {
		width: 8rem;
		height: 8rem;	
	}	
}





