
section.hobbies {
	text-align: center;
	display: flex;
	flex-direction: column;
}

.hobbies__title {
	font-size: 2rem;
	padding: 1rem 0 1rem 0;	
}

.hobbies__line {
	display: flex;
	justify-content: space-evenly;
	padding: 1rem 0 1rem 0;	
}

.hobbies__box {
	display: flex;
	justify-content: flex-start;
	border-radius: 10px;	
	background: linear-gradient(45deg, #7A5EAB, #4D3B6B, #A881EB, #B188F7, #9673D1);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;	
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.hobbies__box ul {
	align-self: flex-end;
	padding-bottom: 1rem;
}

.hobbies__name {
	padding-top: 0.5rem;
	padding-left: 1rem;
	font-size: 1rem;	
}

@media screen and (min-width: 0) {
	section.hobbies {
		padding: 0 1rem 0 1rem;
	}

	.hobbies__line {
		row-gap: 1rem;
		flex-wrap: wrap;
		justify-content: space-evenly;
		padding: 1rem 0 1rem 0;			
	}
	
	.hobbies__box {
		width: 8rem;
		height: 8rem;	
	}
}	
	
	
@media screen and (min-width: 768px) {	
	section.hobbies {
		padding: 0 2rem 0 2rem;
	}
	
	.hobbies__box {
		height: 8rem;
		width: 14rem;
	}	
	
}	

@media screen and (min-width: 992px) {
	section.hobbies {
		padding: 0 5rem 0 5rem;
	}
	
	.hobbies__box {
		width: 8rem;
		height: 8rem;	
	}	
}





