/*Sección Menu*/

section.menu{
	background: #BDE5A1;
	display: flex;
	justify-content: space-evenly;
}

.menu__header {
	display: flex;
}


.memu_img--logo {
	max-height: 30%;
	padding: 1rem 0rem 1rem 0rem;
	margin: auto;
}

.menu__title {
	width: 15rem;
	font-size: 1rem;
	padding: 1rem 0rem 1rem 0rem;
	margin: auto;
}

.menu__nav {
	padding: 1rem 0rem 1rem 0rem;
}

.menu__list {
	display: flex;
}

.menu__list__item {
	font-size: 1rem;
    margin-right: 1.7rem;
}

.menu__list__item:hover {
	text-decoration: underline;
}