/*Sección Menu*/

.menu{
	display: flex;
	justify-content: space-between;
}

.menu__header {
	display: flex;
	height: 3rem;
}

.memu_img--logo {
	max-width:50%;
	max-height:50%;
	padding: 1rem 0.5rem 1rem 0;
}

.menu__title {
	padding: 1rem 0 1rem 0;
	font-weight: bolder;
	text-shadow: 3px 3px 1px #aaa;;
}

.menu__nav {
	
}

.menu__list {
	
}

.menu__list__item {
	display: inline;
	padding-left: 1rem;
}

.menu__list__item:last-child {
	font-weight: bolder;
}

.menu__list__item__contato {
	padding: 1rem 0 1rem 0;
	font-weight: bolder;
}

@media screen and (min-width: 0px) {
	.menu {
		padding: 0 1rem 0 1rem;
	}
	
	.menu__list {
		display: none;
	}
	
	.menu__list__item__contato {
		display: block;
	}
}	

@media screen and (min-width: 768px) {
	.menu{
		padding: 0 2rem 0 2rem;
	}
	
	.menu__list {
		display: none;
	}
	
	.menu__list__item__contato {
		display: block;
	}
}

@media screen and (min-width: 992px) {
	.menu{
		padding: 0 5rem 0 5rem;
	}
	
	.menu__list {
		display: block;
		padding: 1rem 0 1rem 0rem;
	}
	
	.menu__list__item__contato {
		display: none;
	}
}