/*Sección Title*/

section.title{
	padding: 0 5rem 0 5rem;
}

.title__div {
	display: flex;
	flex-direction: row-reverse;
}

.title__profile{
	padding: 0.2rem;
}

.title__container {
	padding: 4rem 0;
}

.title__bio {
	font-weight: 700;
	font-size: 3rem;
}

.title__subsection {
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5rem;
	margin: 1.5rem 1.5rem 0 0;
}

.title__network {
	margin-top: 1rem;
}

.title__network__item {
	font-weight: 500;
	font-size: 1rem;
	padding-top: 1.25rem;
	padding-right: 1.25rem;
    display: inline-block;
}


@media screen and (min-width: 0) { 
	section.title{
		padding: 0 1rem 0 1rem;
	}
	
	.title__div {
		flex-direction: column;
	}
	
	.title__container {
		padding: 1rem 0;
	}
	
	.title__profile{
		padding-top : 1rem;
		max-width: 40%;
		max-height: auto;
	}
	
	.title__bio {
		font-size: 1.5rem;
	}
	
	.title__network__item {
		font-size: 0.75rem;
		padding-right: 1rem;
	}	
	
}

@media screen and (min-width: 768px) {	
	section.title{
		padding: 0 2rem 0 2rem;
	}
	
	.title__div {
		flex-direction: row-reverse;
	}
	
	.title__profile{
		padding-top : 1rem;
		max-width: 30%;
		max-height: auto;
	}
}













