/*Sección Title*/

section.title{
	padding: 0 5rem 0 5rem;
}


.title__div {
	display: flex;
	flex-direction: row-reverse;
}

.title__profile{
	padding: 0.2rem;
	
}

.title__container {
	padding: 4rem 0;
}

.title__bio {
	font-weight: 700;
	font-size: 3rem;
}

.title__subsection {
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5rem;
	margin: 1.5rem 1.5rem 0 0;
}

.title__network {
	margin-top: 1rem;
}

.title__network__item {
	font-weight: 500;
	font-size: 1rem;
	padding-top: 1.25rem;
	padding-right: 1.25rem;
    display: inline-block;
}


















